<?xml version="1.0" encoding="utf-8"?>
<config>
    <plc ip="172.24.14.51" />
    <server ip="172.24.15.181:3306" login="root" password="MT0334!"/>
    <db name="plc_tag"/>
    <tags frequency="5">
        <tag  name="121:outconv_current" type="float" dbnr="1100" startadress="2" size="4"/>
    </tags>
</config>